@charset "UTF-8";
/* CSS Document */
#style-container {
	display: flex;
	margin: 50px 50px;
	width: 100vw;
	flex-wrap: wrap;
}

.style {
    width: 200px;
    height: 260px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #f7f7f7;
}

.myImg-style {
    width: 200px;
    height: 260px;
    object-fit: contain;
}