@charset "UTF-8";
/* CSS Document */


#home-contain {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#lookbook-text {
	position: absolute;
	margin-left: 50px;
}

#lookbook-text {
	color: white;
	text-align: left;
	/*text-shadow: 1px 1px 10px #969696;*/
}

#hp-df1, #hp-df3 {
	font-size: 16pt;
	letter-spacing: 0.3em;
}

#hp-df2 {
	font-size: 30pt;
	letter-spacing: 0.3em;
}

#home-image {
	width: 100vw;
}

#shoot1 {
	width: 100vw;
}


@media only screen and (max-width: 900px) {

 	
	#hp-df1, #hp-df3 {
        font-size: 12pt;
        letter-spacing: 0.3em;
    }

    #hp-df2 {
        font-size: 20pt;
        letter-spacing: 0.3em;
    }

    #home-image {
        height: 100vh;
    }

    #shoot1 {
        height: 100vh;
		object-fit: cover;
		object-position: -400px;
    }
	
	/*
	#style-container {
		margin: 20px;
	}
	.img-container {
        width: 150px;
        height: 210px;
        margin: 10px 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }

    .img-style {
        width: 150px;
        height: 210px;
        object-fit: contain;
    }*/
}

@media only screen and (max-width: 700px) {
	
	#shoot1 {
		object-position: -500px;
    }
}

@media only screen and (max-width: 600px) {
	
	#shoot1 {
		object-position: -600px;
    }
}

@media only screen and (max-width: 500px) {
	
	#shoot1 {
		object-position: -700px;
    }
}